.music-list_list{
    overflow: scroll;
    height : 270px;
    width: 280px;
    position: relative;
    right:-5px;
    
}
.music-component{
    width: 250px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
    padding: 7px 5px 7px 5px;
    margin bottom: 5px;
}
.music-component-pick{
    box-shadow: 3px 3px 10px rgba(0,0,0,0.2);
}

.music-component_albumart{
    width: 45px;
    height: 45px;
    border-radius: 10px;
    margin-left: 5px;
}
.music-component-text{
    display: flex;
    flex-direction: column;
    width: 180px;
}
.music-component_artist{
    font-size: 15px;
    position: relative;
    bottom:-5px;
    
}
.music-component_title{
    font-size: 20px;
}
.music-component_ellipsis{
    color: rgba(0,0,0,0.4);
}