@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&display=swap');
@import"variables.css";

@import"nav.css";
@import"music-component.css";



body{
    font-family: 'Baloo 2', cursive;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: rgb(97%, 97%, 97%);
}

.window{
    width: 340px;
    height: 735px;
    background-color:white;

    border-radius: 25px;
    box-shadow: 10px 10px 50px rgb(93%, 93%, 95%);
    display:flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.music-list_fixed{
    display: flex;
    flex-direction: column;
}
.first-row_icons{
    padding: 0px 25px;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}
.first-row_icon{
    color: var(--black);
}
.artist-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    margin:20px 50px;
}
.artist-box_face{
    width: 85px;
    height: 85px;
    border-radius: 50%;
    box-shadow: 3px 3px 10px rgb(100%, 61%, 45%);
    margin-bottom:40px;
}
h1{
    font-size: 28px;
    margin:0px;
    text-align: center;
}
h4{
    color:rgb(0,0,0,0.3);
    margin:0px;
}
.artist-box_btnbox{
    display:flex;
    justify-content: space-between;
    padding: 10px 35px;
}
.artist-box-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    width : 115px;
    height: 43px;
}
.artist-box-btn:first-child{
    background-color: var(--black);
}
.artist-box-btn:last-child{
    box-shadow: 3px 3px 10px rgba(0,0,0,0.3);
}
.artist-box-btnword1{
    color: white;
}
.artist-box-btnword2{
    color:rgba(0,0,0,0.4);
    font-weight: 500;
}
.heart-btn{
    margin-right: 5px;
}
h4{
    margin:0px;
}
h2{
    margin:0px;
}
.main_album-cover{
    width: 215px;
    height: 215px;
}